.flexbox-container {
    /* display turns whatever element it is tagged with into a "alignible" element*/
    display: flex;
    /* justify-content allow me to manipulate the alignment of child elements on the main axis */
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 28, 128, 0.44);
    padding: 15px;
}

.segoe-font.blue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 28, 128);
}

.segoe-font.red {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}